/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
  max-width: 2560px;
  width: 95%;
  margin: 0 auto;
}
.container header {
  max-width: 2560px;
  width: 100%;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 310px;
  width: 100%;
}
@media (max-width: 460px) {
  .container header .wrapper {
    width: 43%;
  }
}
@media (max-width: 400px) {
  .container header .wrapper {
    width: 53%;
  }
}
.container header .wrapper .fa-suitcase-rolling {
  font-size: 40px;
}
@media (max-width: 460px) {
  .container header .wrapper .fa-suitcase-rolling {
    font-size: 30px;
  }
}
.container header .wrapper h2 {
  font-size: 40px;
}
@media (max-width: 460px) {
  .container header .wrapper h2 {
    font-size: 30px;
  }
}
.container header .wrapper h3 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 460px) {
  .container header .wrapper h3 {
    font-size: 16px;
  }
}
.container header .wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 750px;
  width: 100%;
}
@media (max-width: 1614px) {
  .container header .wrapper-1 {
    max-width: 550px;
  }
}
@media (max-width: 995px) {
  .container header .wrapper-1 {
    display: none;
  }
}
.container header .wrapper-1 nav {
  max-width: 400px;
  width: 100%;
}
@media (max-width: 1614px) {
  .container header .wrapper-1 nav {
    max-width: 300px;
  }
}
.container header .wrapper-1 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container header .wrapper-1 a {
  color: #000;
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container input[type="text"] {
  width: 188px;
  height: 30px;
  border: none;
  border-radius: 40px;
  background: rgba(217, 217, 217, 0.5);
  padding: 5px 0px 4px 11px;
}
.container .fa-search {
  font-size: 17px;
  color: #776f6f;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.container .fa-search:hover {
  color: #000;
}
.container .submit {
  border: none;
  background-color: white;
}

.icon {
  display: none;
}
@media (max-width: 995px) {
  .icon {
    display: block;
  }
}
.icon .fa-bars {
  font-size: 40px;
}
@media (max-width: 460px) {
  .icon .fa-bars {
    font-size: 26px;
  }
}

.location-background {
  background-image: url("../images/LocationBackground.WEBP");
  background-color: rgb(13, 53, 3);
  background-position: center;
  background-size: cover;
  max-width: 2560px;
  width: 100%;
  height: 601px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 34px;
}

.line {
  margin-top: 98px;
  margin-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 375px) {
  .line {
    margin-top: 90px;
    margin-bottom: 35px;
  }
}
.line img {
  width: 253px;
  height: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 875px) {
  .line img {
    width: 180px;
  }
}
@media (max-width: 670px) {
  .line img {
    width: 100px;
  }
}
@media (max-width: 520px) {
  .line img {
    width: 80px;
  }
}
@media (max-width: 391px) {
  .line img {
    width: 50px;
  }
}
.line h3 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 875px) {
  .line h3 {
    font-size: 28px;
  }
}
@media (max-width: 670px) {
  .line h3 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .line h3 {
    font-size: 14px;
  }
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 550px) {
  .locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.locations .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.locations .card a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .locations .card a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .locations .card a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .locations .card a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .locations .card a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .locations .card a {
    width: 300px;
  }
}
.locations .card .image {
  background-image: url("../images/location1.jpg");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .locations .card .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .locations .card .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .locations .card .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .locations .card .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .locations .card .image {
    width: 300px;
    height: 300px;
  }
}
.locations h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .locations h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .locations h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .locations h3 {
    font-size: 17px;
  }
}
.locations h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-top: 27px;
}
@media (max-width: 900px) {
  .locations h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .locations h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .locations h4 {
    font-size: 17px;
  }
}

.card1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card1 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card1 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card1 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card1 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card1 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card1 a {
    width: 300px;
  }
}
.card1 .image {
  background-image: url("../images/location2.png");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card1 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card1 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card1 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card1 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card1 .image {
    width: 300px;
    height: 300px;
  }
}
.card1 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card1 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card1 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card1 h3 {
    font-size: 17px;
  }
}
.card1 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin: 27px 0px 10px 0px;
}
@media (max-width: 900px) {
  .card1 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card1 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card1 h4 {
    font-size: 17px;
  }
}

.card2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card2 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card2 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card2 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card2 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card2 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card2 a {
    width: 300px;
  }
}
.card2 .image {
  background-image: url("../images/location3.jpg");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card2 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card2 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card2 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card2 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card2 .image {
    width: 300px;
    height: 300px;
  }
}
.card2 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card2 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card2 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card2 h3 {
    font-size: 17px;
  }
}
.card2 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin: 27px 0px 10px 0px;
}
@media (max-width: 900px) {
  .card2 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card2 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card2 h4 {
    font-size: 17px;
  }
}

.location-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card3 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card3 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card3 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card3 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card3 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card3 a {
    width: 300px;
  }
}
.card3 .image {
  background-image: url("../images/location4.png");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card3 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card3 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card3 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card3 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card3 .image {
    width: 300px;
    height: 300px;
  }
}
.card3 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card3 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card3 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card3 h3 {
    font-size: 17px;
  }
}
.card3 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-top: 27px;
}
@media (max-width: 900px) {
  .card3 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card3 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card3 h4 {
    font-size: 17px;
  }
}

.card4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card4 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card4 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card4 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card4 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card4 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card4 a {
    width: 300px;
  }
}
.card4 .image {
  background-image: url("../images/location5.png");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card4 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card4 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card4 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card4 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card4 .image {
    width: 300px;
    height: 300px;
  }
}
.card4 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card4 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card4 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card4 h3 {
    font-size: 17px;
  }
}
.card4 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-top: 27px;
}
@media (max-width: 900px) {
  .card4 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card4 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card4 h4 {
    font-size: 17px;
  }
}

.card5 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card5 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card5 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card5 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card5 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card5 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card5 a {
    width: 300px;
  }
}
.card5 .image {
  background-image: url("../images/სვეტიცხოველი.jpg");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card5 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card5 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card5 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card5 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card5 .image {
    width: 300px;
    height: 300px;
  }
}
.card5 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card5 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card5 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card5 h3 {
    font-size: 17px;
  }
}
.card5 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-top: 27px;
}
@media (max-width: 900px) {
  .card5 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card5 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card5 h4 {
    font-size: 17px;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 560px) {
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card6 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card6 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card6 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card6 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card6 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card6 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card6 a {
    width: 300px;
  }
}
.card6 .image {
  background-image: url("../images/location8.png");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card6 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card6 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card6 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card6 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card6 .image {
    width: 300px;
    height: 300px;
  }
}
.card6 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card6 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card6 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card6 h3 {
    font-size: 17px;
  }
}
.card6 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-top: 27px;
}
@media (max-width: 900px) {
  .card6 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card6 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card6 h4 {
    font-size: 17px;
  }
}

.card7 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card7 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card7 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card7 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card7 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card7 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card7 a {
    width: 300px;
  }
}
.card7 .image {
  background-image: url("../images/location7.png");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card7 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card7 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card7 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card7 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card7 .image {
    width: 300px;
    height: 300px;
  }
}
.card7 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card7 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card7 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card7 h3 {
    font-size: 17px;
  }
}
.card7 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-top: 27px;
}
@media (max-width: 900px) {
  .card7 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card7 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card7 h4 {
    font-size: 17px;
  }
}

.card8 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 342px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card8 a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1060px) {
  .card8 a {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .card8 a {
    width: 250px;
  }
}
@media (max-width: 780px) {
  .card8 a {
    width: 200px;
  }
}
@media (max-width: 630px) {
  .card8 a {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .card8 a {
    width: 300px;
  }
}
.card8 .image {
  background-image: url("../images/location9.png");
  background-size: cover;
  width: 342px;
  height: 342px;
}
@media (max-width: 1060px) {
  .card8 .image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 900px) {
  .card8 .image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 780px) {
  .card8 .image {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 630px) {
  .card8 .image {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 560px) {
  .card8 .image {
    width: 300px;
    height: 300px;
  }
}
.card8 h3 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 900px) {
  .card8 h3 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card8 h3 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card8 h3 {
    font-size: 17px;
  }
}
.card8 h4 {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-top: 27px;
}
@media (max-width: 900px) {
  .card8 h4 {
    font-size: 12px;
  }
}
@media (max-width: 630px) {
  .card8 h4 {
    font-size: 9px;
  }
}
@media (max-width: 560px) {
  .card8 h4 {
    font-size: 17px;
  }
}

.location-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 190px;
}
.location-section3 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 136px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.location-section3 .wrapper .icon1 {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3 ease;
  -o-transition: 0.3 ease;
  transition: 0.3 ease;
}
.location-section3 .wrapper .icon1:hover {
  background: #acacac;
}

.location-section3 .wrapper .icon1 h5 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.location-section3 .wrapper .icon2 {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: rgba(217, 217, 217, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3 ease;
  -o-transition: 0.3 ease;
  transition: 0.3 ease;
}
.location-section3 .wrapper .icon2:hover {
  background: rgba(189, 187, 187, 0.5);
}
.location-section3 .wrapper .icon2 h5 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  max-width: 2560px;
  width: 100%;
  height: 430px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #e4e4e4;
}
footer .footer-container {
  max-width: 2370px;
  width: 90%;
  margin: 0 auto;
}
footer .footer-container .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
  width: 100%;
}
@media (max-width: 600px) {
  footer .footer-container .footer-wrapper .footer-div1 {
    width: 185px;
  }
}
footer .footer-container .footer-wrapper .footer-div1 .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer
  .footer-container
  .footer-wrapper
  .footer-div1
  .footer-logo
  .fa-suitcase-rolling {
  font-size: 40px;
  margin-top: 35px;
}
@media (max-width: 600px) {
  footer
    .footer-container
    .footer-wrapper
    .footer-div1
    .footer-logo
    .fa-suitcase-rolling {
    font-size: 30px;
  }
}
footer .footer-container .footer-wrapper .footer-div1 .footer-logo h3 {
  color: #000;
  font-family: "Kaisei Decol", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  margin-left: 6px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-wrapper .footer-div1 .footer-logo h3 {
    font-size: 13px;
  }
}
footer .footer-container .footer-wrapper .footer-div1 h4 {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 13px;
  width: 304px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-wrapper .footer-div1 h4 {
    font-size: 13px;
  }
}
footer .footer-container .footer-wrapper .footer-div1 .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
  height: 188px;
}
footer .footer-container .footer-wrapper .footer-div1 .footer-nav ul a {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 600px) {
  footer .footer-container .footer-wrapper .footer-div1 .footer-nav ul a {
    font-size: 14px;
  }
}
footer .footer-container .footer-wrapper .footer-div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
@media (max-width: 1030px) {
  footer .footer-container .footer-wrapper .footer-div2 {
    display: none;
  }
}
footer .footer-container .footer-wrapper .footer-div2 .help,
footer .footer-container .footer-wrapper .footer-div2 .Contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-container .footer-wrapper .footer-div2 .help h3,
footer .footer-container .footer-wrapper .footer-div2 .Contact h3 {
  color: #000;
  font-family: "Kaushan Script";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-container .footer-wrapper .footer-div2 .help h4,
footer .footer-container .footer-wrapper .footer-div2 .Contact h4 {
  width: 173.003px;
  height: 1px;
  background: #000;
}
footer .footer-container .footer-wrapper .footer-div2 .help div,
footer .footer-container .footer-wrapper .footer-div2 .Contact div {
  margin-top: 32.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 106px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-container .footer-wrapper .footer-div2 .help a,
footer .footer-container .footer-wrapper .footer-div2 .Contact a {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-container .footer-div3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  width: 100%;
  height: 28px;
  margin-top: 47px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 {
    max-width: 100px;
  }
}
footer .footer-container .footer-div3 .fa-facebook,
footer .footer-container .footer-div3 .fa-instagram,
footer .footer-container .footer-div3 .fa-twitter {
  color: #000;
  font-size: 30px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 .fa-facebook,
  footer .footer-container .footer-div3 .fa-instagram,
  footer .footer-container .footer-div3 .fa-twitter {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 .fa-facebook,
  footer .footer-container .footer-div3 .fa-instagram,
  footer .footer-container .footer-div3 .fa-twitter {
    font-size: 15px;
  }
}
footer .footer-container .footer-div3 img {
  width: 30px;
  height: 30px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 img {
    width: 15px;
    height: 15px;
  }
}
footer .respontive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 100%;
  margin-top: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 361px;
}
footer .footer-info .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-info .phone a {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 14px;
}
@media (max-width: 600px) {
  footer .footer-info .phone a {
    font-size: 14px;
  }
}
footer .footer-info .footer-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-info .footer-location p {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 14px;
}
@media (max-width: 600px) {
  footer .footer-info .footer-location p {
    font-size: 14px;
  }
}
footer .footer-container .footer-wrapper .footer-div1 .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
  height: 188px;
}
footer .footer-container .footer-wrapper .footer-div1 .footer-nav ul a {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 600px) {
  footer .footer-container .footer-wrapper .footer-div1 .footer-nav ul a {
    font-size: 14px;
  }
}
footer .footer-container .footer-wrapper .footer-div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
@media (max-width: 1030px) {
  footer .footer-container .footer-wrapper .footer-div2 {
    display: none;
  }
}
footer .footer-container .footer-wrapper .footer-div2 .help,
footer .footer-container .footer-wrapper .footer-div2 .Contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-container .footer-wrapper .footer-div2 .help h3,
footer .footer-container .footer-wrapper .footer-div2 .Contact h3 {
  color: #000;
  font-family: "Kaushan Script";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-container .footer-wrapper .footer-div2 .help h4,
footer .footer-container .footer-wrapper .footer-div2 .Contact h4 {
  width: 173.003px;
  height: 1px;
  background: #000;
}
footer .footer-container .footer-wrapper .footer-div2 .help div,
footer .footer-container .footer-wrapper .footer-div2 .Contact div {
  margin-top: 32.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 106px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-container .footer-wrapper .footer-div2 .help a,
footer .footer-container .footer-wrapper .footer-div2 .Contact a {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-container .footer-div3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  width: 100%;
  height: 28px;
  margin-top: 47px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 {
    max-width: 100px;
  }
}
footer .footer-container .footer-div3 .fa-facebook,
footer .footer-container .footer-div3 .fa-instagram,
footer .footer-container .footer-div3 .fa-twitter {
  color: #000;
  font-size: 30px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 .fa-facebook,
  footer .footer-container .footer-div3 .fa-instagram,
  footer .footer-container .footer-div3 .fa-twitter {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 .fa-facebook,
  footer .footer-container .footer-div3 .fa-instagram,
  footer .footer-container .footer-div3 .fa-twitter {
    font-size: 15px;
  }
}
footer .footer-container .footer-div3 img {
  width: 30px;
  height: 30px;
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 600px) {
  footer .footer-container .footer-div3 img {
    width: 15px;
    height: 15px;
  }
}
footer .respontive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 100%;
  margin-top: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 361px;
}
footer .footer-info .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-info .phone a {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 14px;
}
@media (max-width: 600px) {
  footer .footer-info .phone a {
    font-size: 14px;
  }
}
footer .footer-info .footer-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-info .footer-location p {
  color: #000;
  font-family: "Kameron", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 14px;
}
@media (max-width: 600px) {
  footer .footer-info .footer-location p {
    font-size: 14px;
  }
}