.EachLocation-nav {
  h4,
  a {
    color: #000;
    font-family: "Nanum Myeongjo", serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    // @media(max-width:740px){
    //     font-size: 14px;
    // }

    @media (max-width: 570px) {
      font-size: 18px;
    }

    @media (max-width: 460px) {
      font-size: 13px;
    }
  }

  h4 {
    margin: 107px 0 0 83px;
    @media (max-width: 740px) {
      margin-left: 20px;
    }
  }
}

.EachLocation-S-1 {
  display: flex;

  .EachLocation-container {
    max-width: 1900px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  margin-top: 118px;
  .main {
    @include main;
    background-image: url("../images/გერგეთის\ სამება.png");
    background-color: rgb(2, 49, 2);
  }

  .mini-image-wrapper {
    display: flex;

    .mini {
      @include mini;
      background-image: url("../images/გერგეთის\ სამება2.png");
      background-color: rgb(2, 36, 2);
      margin-right: 29px;
    }

    .mini2 {
      @include mini;
      background-image: url("../images/გერგეთის\ სამება1.png");
      background-color: rgb(2, 36, 2);
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    height: 555px;
    // border: red 2px solid;
    position: relative;

    @include info;

    h3 {
      color: #000;
      font-family: "Metal", serif;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      // @media (max-width:1163px){
      //   font-size: 50px;
      // }
    }

    p {
      width: 500px;
      color: #000;
      font-family: "Kameron", serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      // @media (max-width:1175px){
      //     font-size: 19px;
      //     width: 460px;
      // }

      // @media (max-width:1050px){
      //    font-size: 17px;
      // }
    }

    .button-translate {
      width: 500px;
      height: 76px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        width: 213px;
        height: 76px;
        flex-shrink: 0;
        border-radius: 20px;
        margin-top: 150px;
        background: #24253c;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: 0, 3s ease;
        // border: 2px solid red;

        &:hover {
          background: #131424;
        }

        h5 {
          flex-shrink: 0;
          color: #fff;
          font-family: "Noto Sans Georgian", sans-serif;
          // font-family: "BPG Mrgvlovani Caps", sans-serif;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .E {
          font-family: "Jomolhari", serif;
        }
      }

      .heart-icon {
        color: black;
        cursor: pointer;
        font-size: 20px;
        margin-top: 170px;
      }
      .heart-icon.red {
        color: red;
      }
    }
  }
}

.map {
  max-width: 1156px;
  width: 100%;
  margin: 60px auto;

  iframe {
    width: 100%;
  }
}

